*{
  margin: 0;
}
html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
  
.banner {
  height: 100vh;
  width: 100wh;
  justify-content: center;
  align-items: center;
  justify-content: center;
    display: flex;
    align-items: center;
  /* background:
   url("https://firebasestorage.googleapis.com/v0/b/ecommerce-uploads.appspot.com/o/Cheers.png?alt=media&token=bdda4836-41ac-49ed-b6ae-45597edb565c")
   center center; 
   object-fit:cover;
  height: 100vh;
  background-repeat: no-repeat; */
  /* -webkit-mask-image: linear-gradient(to top, transparent 1%, black 40%);
  mask-image: linear-gradient(to top, transparent 5%, black 10%); */
}
.banner  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 15rem;
  height: 100%;
}
header {
  margin-top: auto;
  grid-area: header;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  border-bottom: 1px solid lightgray;
  height: 5rem;
  box-shadow: 0px 1px rgb(233, 222, 222);
  top: 0;
  z-index: 100;
  width: 100%;
}
.header__center{
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  box-shadow: 0px 1px rgb(197, 193, 193);
  background-color: #f8f8f8;
  /* background-color: rgb(238, 236, 236); */
  padding: 10px;
  height: 1rem;
  border: 1px solid lightgrey;
  border-radius: 999px;
}
.header__center>input{
  height: 1rem;
  /* background-color: #928e8e; */
  background-color: #f8f8f8;
  /* background-color: rgb(238, 236, 236); */

  padding: 10px;
  border: none !important;
  outline-width: 0;
  /* width: 250px; */
}

main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  font-family: 'Dancing Script', cursive;
  background: rgb(133,0,0);
background: linear-gradient(90deg, rgba(133,0,0,1) 0%, rgba(233,8,47,1) 50%, rgba(133,0,0,1) 100%);
  color:white;
  font-size: 30px;
  border-top: 1px solid lightgray;
  box-shadow: 0px 1px rgb(233, 222, 222);

}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
li.seller_sec{
  border-radius: 2.5rem;
  margin: 1rem;
  box-shadow: 4px 6px 10px #888888;

}
.prod_det{
  padding: 10px;
}
li.Seller_Info{
  padding: 10px;
  display: flex;

  justify-content: space-between;
  flex: 1;
  flex-direction: row;
}
li.sellerDesc{
  font-size: small;
  padding: 10px;
 
}



img.Seller_img{
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background: rgb(133,0,0);
background: linear-gradient(90deg, rgba(133,0,0,1) 0%, rgba(233,8,47,1) 50%, rgba(133,0,0,1) 100%);
  /* background-color: #ec1111f5; */
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: black;
  padding: 1rem;
  font-size:17px;
}
.header__left{
  display: flex;
  justify-content: center;
}
.explore,.avatar{
  margin-top: 1rem;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  /* background-color: black; */
  background: rgb(66,62,62);
background: linear-gradient(90deg, rgba(66,62,62,1) 0%, rgba(0,0,0,1) 50%, rgba(66,62,62,1) 100%);
  color: white !important;
  height: 15px;
  max-width: 9rem;
  width: 9rem;
  font-weight: bold ;
  border-radius: 40px;
  padding: 1rem;
  
}
.signin{
  margin-top: 1rem;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: rgb(133,0,0);
background: linear-gradient(90deg, rgba(133,0,0,1) 0%, rgba(233,8,47,1) 50%, rgba(133,0,0,1) 100%);
  color: white;
  height: 15px;
  max-width: 9rem;
  width: 9rem;
  font-weight: bold ;
  border-radius: 40px;
  padding: 1rem;
  
}
.signin{
  margin-top: 1rem;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #ec1111f5;
  color: white;
  height: 15px;
  max-width: 9rem;
  width: 9rem;
  font-weight: bold ;
  border-radius: 40px;
  padding: 1rem;
  
}
.cart_icon{
  margin-top: 1rem;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgb(239 239 239);
  color: black;
  height: 15px;
  max-width: 9rem;
  width: 9rem;
  font-weight: bold ;
  border-radius: 40px;
  padding: 1rem;
}
.explore:hover{
  cursor: pointer;
}
.centered {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white !important;
  opacity: 0.8;

  /* background-color: whitesmoke; */
}
.centered:hover{
  border-radius: 8rem;
  padding: 2rem;
  background-color: rgb(240, 232, 232);
  color: #000000 !important;
}
.container {
  padding: 1rem;
  position: relative;
  text-align: center;
  color: white;
}
.header__left.button{
  margin-top: 20px;

}
a.brand {
  font-family: 'Dancing Script', cursive;
  color: rgb(133,0,0);
  
  
color: linear-gradient(90deg, rgba(133,0,0,1) 0%, rgba(233,8,47,1) 50%, rgba(133,0,0,1) 100%);

  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #776d6d;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Image */
img {
  border-radius:2.5rem;
}
img.medium:hover{
  opacity: 0.8;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 22.5rem;
  width: 100%;
  max-height: 25rem;
  height: 25rem;
}
img.img_explore{

  opacity: 0.8;
  max-width: 18rem;
  width: 100%;
  max-height: 18rem;
  height: 18rem;

}
img.large {
  width: 100%;
}

/* Card */
.card {
  /* background-color: #f8f8f8; */
  border-radius: 2.5rem;
  margin: 1rem;
}
.card:hover{
  box-shadow: 4px 6px 10px #888888;

}
.card-body {
  padding: 1rem;
  /* background-color: lightgrey; */
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.error {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown,.sub__dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content,.sub__dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color:white;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.sub__dropdown-content {
  right: 7rem;
  margin-top: -2.0rem;}
.dropdown:hover .dropdown-content {
  display: block;
}
.sub__dropdown:hover .sub__dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/* Dashboard */

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}

/* Chatbox */
.chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% - 9rem);
}

.support-users {
  background: #f0f0f0;
  height: 100%;
}
.support-users li {
  background-color: #f8f8f8;
}
.support-users button {
  background-color: transparent;
  border: none;
  text-align: left;
}
.support-users li {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
  background-color: #f0f0f0;
}
.support-users li.selected {
  background-color: #c0c0c0;
}
.support-messages {
  padding: 1rem;
}
.support-messages input {
  width: calc(100% - 9rem);
}
.support-messages ul {
  height: calc(100vh - 18rem);
  max-height: calc(100vh - 18rem);
  overflow: scroll;
}
.support-messages li {
  margin-bottom: 1rem;
}

.support-users span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
}
.support-users .offline {
  background-color: #808080;
}
.support-users .online {
  background-color: #20a020;
}
.support-users .unread {
  background-color: #f02020;
}





@media (max-width: 480px){
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr 15rem;
    height: 100%;
  }
  .header__right{
    margin-left: 15.5rem;
  }
  .explore,.signin,.avatar,.cart_icon{
    margin-top: 0rem;
    margin-left: 5px;
    margin-bottom: 2px;
    text-align: center;
    height: 7px;
    max-width: 9rem;
    width: 2rem;
    font-size: 6px;
    font-weight: bold;
    border-radius: 40px;
    padding: .8rem;
  
}
  .sub__dropdown-content {
    right: -3rem;
    margin-top: 0rem;
  }
  .badge {
    background-color: #f02020;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1rem;
    margin-left: 0.2rem;
  }
  a.brand {
    font-family: 'Dancing Script', cursive;
    color: #ec1111f5;
    font-size: 1.5rem;
    font-weight: bold;
  }
  header a {
    padding: 0.5rem;
    font-size:10px;
  }
  .header__center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    box-shadow: 0px 1px rgb(197, 193, 193);
    background-color: #f8f8f8;
    padding: 10px;
    height: 0.3rem;
    max-width: 8rem;
    border: 1px solid lightgrey;
    border-radius: 999px;
  }
  .header__center>input{
    font-size: 1.2rem;
    height: 0.3rem;
    background-color: #f8f8f8;  
    padding: 10px;
    max-width: 5rem;
    border: none !important;
    outline-width: 0;
  }
}